docs/flows/day1-health-classification-dashboard.json
[
    {
        "id": "94c07a1968faae61",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "65971e14ac52e323",
        "type": "inject",
        "z": "94c07a1968faae61",
        "name": "Auto Vital Trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "timestamp",
        "payloadType": "str",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "08c32c9d3e21506f"
            ]
        ]
    },
    {
        "id": "28597e10795590a6",
        "type": "debug",
        "z": "94c07a1968faae61",
        "name": "Simulation Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 780,
        "wires": []
    },
    {
        "id": "08c32c9d3e21506f",
        "type": "function",
        "z": "94c07a1968faae61",
        "name": "Vital Simulation Module",
        "func": "let heartRate = Math.floor(Math.random() * 80) + 60;\nlet spo2 = Math.floor(Math.random() * 15) + 85;\nlet temperature = Number((Math.random() * 3 + 35).toFixed(1));\n\nmsg.payload = {\n    userId: \"ELD001\",\n    deviceId: \"SIM001\",\n    heartRate: heartRate,\n    spo2: spo2,\n    temperature: temperature,\n    timestamp: new Date().toISOString(),\n    systemVersion: \"v1.0\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 140,
        "wires": [
            [
                "f2c6adedcb761880"
            ]
        ]
    },
    {
        "id": "f2c6adedcb761880",
        "type": "function",
        "z": "94c07a1968faae61",
        "name": "Validation Module",
        "func": "let hr = msg.payload.heartRate;\nlet spo2 = msg.payload.spo2;\nlet temp = msg.payload.temperature;\n\nlet valid = true;\nlet error = null;\n\n// Heart Rate range check\nif (hr < 40 || hr > 180) {\n    valid = false;\n    error = \"Heart Rate out of realistic range\";\n}\n\n// SpO2 range check\nif (spo2 < 70 || spo2 > 100) {\n    valid = false;\n    error = \"SpO2 out of realistic range\";\n}\n\n// Temperature range check\nif (temp < 34 || temp > 42) {\n    valid = false;\n    error = \"Temperature out of realistic range\";\n}\n\n// Append validation result\nmsg.payload.valid = valid;\nmsg.payload.error = error;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 240,
        "wires": [
            [
                "0c6e6990665c41d3"
            ]
        ]
    },
    {
        "id": "0c6e6990665c41d3",
        "type": "function",
        "z": "94c07a1968faae61",
        "name": "Decision Engine Module",
        "func": "// Stop classification if data is invalid\nif (!msg.payload.valid) {\n    msg.payload.status = \"INVALID\";\n    msg.payload.riskLevel = 0;\n    return msg;\n}\n\nlet hr = msg.payload.heartRate;\nlet spo2 = msg.payload.spo2;\nlet temp = msg.payload.temperature;\n\nlet status = \"NORMAL\";\nlet riskLevel = 1;\n\n// Emergency conditions\nif (hr > 110 || spo2 < 90 || temp > 38) {\n    status = \"EMERGENCY\";\n    riskLevel = 3;\n}\n// Warning condition\nelse if (hr > 95 && hr <= 110) {\n    status = \"WARNING\";\n    riskLevel = 2;\n}\n\nmsg.payload.status = status;\nmsg.payload.riskLevel = riskLevel;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 360,
        "wires": [
            [
                "5e1e2be0e2461cc3",
                "da53afe9d7421d8a"
            ]
        ]
    },
    {
        "id": "6a2d70e9d3f4dabf",
        "type": "ui_gauge",
        "z": "94c07a1968faae61",
        "name": "Heart Rate",
        "group": "b52794db6a242d0e",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Heart Rate",
        "label": "bpm",
        "format": "{{value}}",
        "min": 0,
        "max": "150",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 170,
        "y": 600,
        "wires": []
    },
    {
        "id": "95a3f1d00aa6c0cf",
        "type": "ui_gauge",
        "z": "94c07a1968faae61",
        "name": "SpO2 Gauge",
        "group": "b52794db6a242d0e",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "SpO2",
        "label": "%",
        "format": "{{value}}",
        "min": "80",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 350,
        "y": 580,
        "wires": []
    },
    {
        "id": "6942acd7760f67c0",
        "type": "ui_gauge",
        "z": "94c07a1968faae61",
        "name": "Temperature Gauge",
        "group": "b52794db6a242d0e",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "C",
        "format": "{{value}}",
        "min": "30",
        "max": "45",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 780,
        "y": 560,
        "wires": []
    },
    {
        "id": "da53afe9d7421d8a",
        "type": "ui_text",
        "z": "94c07a1968faae61",
        "group": "b52794db6a242d0e",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status",
        "format": "<span style=\"color:{{msg.payload.color}}; font-size:28px; font-weight:bold;\"> {{msg.payload.status}} </span>",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 770,
        "y": 380,
        "wires": []
    },
    {
        "id": "72d87ce1a6cdc4b4",
        "type": "function",
        "z": "94c07a1968faae61",
        "name": "HR Extract",
        "func": "msg.payload = msg.payload.heartRate;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 520,
        "wires": [
            [
                "6a2d70e9d3f4dabf"
            ]
        ]
    },
    {
        "id": "52be30a4c3fb67d4",
        "type": "function",
        "z": "94c07a1968faae61",
        "name": "SpO2 Extract",
        "func": "msg.payload = msg.payload.spo2;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 520,
        "wires": [
            [
                "95a3f1d00aa6c0cf"
            ]
        ]
    },
    {
        "id": "60d62bae64d2872a",
        "type": "function",
        "z": "94c07a1968faae61",
        "name": "Temp extract",
        "func": "msg.payload = msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 480,
        "wires": [
            [
                "6942acd7760f67c0"
            ]
        ]
    },
    {
        "id": "5e1e2be0e2461cc3",
        "type": "function",
        "z": "94c07a1968faae61",
        "name": "Monitoring and Metrics Module",
        "func": "// Get stored metrics from flow memory\nlet totalReadings = flow.get(\"totalReadings\") || 0;\nlet emergencyCount = flow.get(\"emergencyCount\") || 0;\nlet lastEmergencyTime = flow.get(\"lastEmergencyTime\") || null;\nlet history = flow.get(\"history\") || [];\n\n// Increase total readings count\ntotalReadings++;\n\n// Check if current reading is an emergency\nif (msg.payload.status === \"EMERGENCY\") {\n    emergencyCount++;\n    lastEmergencyTime = new Date().toISOString();\n}\n\n// Save current reading into history\nhistory.push({\n    heartRate: msg.payload.heartRate,\n    spo2: msg.payload.spo2,\n    temperature: msg.payload.temperature,\n    status: msg.payload.status,\n    time: new Date().toISOString()\n});\n\n// Keep only last 5 readings\nif (history.length > 5) {\n    history.shift();\n}\n\n// Save metrics back into flow memory\nflow.set(\"totalReadings\", totalReadings);\nflow.set(\"emergencyCount\", emergencyCount);\nflow.set(\"lastEmergencyTime\", lastEmergencyTime);\nflow.set(\"history\", history);\n\n// Attach metrics to message\nmsg.metrics = {\n    totalReadings: totalReadings,\n    emergencyCount: emergencyCount,\n    lastEmergencyTime: lastEmergencyTime,\n    history: history\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 420,
        "wires": [
            [
                "72d87ce1a6cdc4b4",
                "52be30a4c3fb67d4",
                "60d62bae64d2872a",
                "28597e10795590a6",
                "eb019d26a570643c"
            ]
        ]
    },
    {
        "id": "eb019d26a570643c",
        "type": "debug",
        "z": "94c07a1968faae61",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 420,
        "wires": []
    },
    {
        "id": "b52794db6a242d0e",
        "type": "ui_group",
        "name": "Patient Vitals",
        "tab": "2c34c4ebfec47b8f",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2c34c4ebfec47b8f",
        "type": "ui_tab",
        "name": "Health Monitor",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "dcfbbe41d9ed6446",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]