docs/flows/phase1-vital-simulation.json
[
    {
        "id": "94c07a1968faae61",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "65971e14ac52e323",
        "type": "inject",
        "z": "94c07a1968faae61",
        "name": "Auto Vital Trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "timestamp",
        "payloadType": "str",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "08c32c9d3e21506f"
            ]
        ]
    },
    {
        "id": "28597e10795590a6",
        "type": "debug",
        "z": "94c07a1968faae61",
        "name": "Simulation Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 360,
        "wires": []
    },
    {
        "id": "08c32c9d3e21506f",
        "type": "function",
        "z": "94c07a1968faae61",
        "name": "Vital Simulation Module",
        "func": "let heartRate = Math.floor(Math.random() * 80) + 60;\nlet spo2 = Math.floor(Math.random() * 15) + 85;\nlet temperature = Number((Math.random() * 3 + 35).toFixed(1));\n\nmsg.payload = {\n    userId: \"ELD001\",\n    deviceId: \"SIM001\",\n    heartRate: heartRate,\n    spo2: spo2,\n    temperature: temperature,\n    timestamp: new Date().toISOString(),\n    systemVersion: \"v1.0\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 260,
        "wires": [
            [
                "28597e10795590a6"
            ]
        ]
    }
]