docs/flows/phase1-flow.json
[
    {
        "id": "6ac9e94bf2b7e02d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "85544b2d0b0c2b9c",
        "type": "inject",
        "z": "6ac9e94bf2b7e02d",
        "name": "Auto Vital Trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "timestamp",
        "payloadType": "str",
        "x": 470,
        "y": 120,
        "wires": [
            [
                "09e6dbad1fac0194"
            ]
        ]
    },
    {
        "id": "4c76d9d7ef823d87",
        "type": "debug",
        "z": "6ac9e94bf2b7e02d",
        "name": "Simulation Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1510,
        "y": 640,
        "wires": []
    },
    {
        "id": "09e6dbad1fac0194",
        "type": "function",
        "z": "6ac9e94bf2b7e02d",
        "name": "Vital Simulation Module",
        "func": "let heartRate = Math.floor(Math.random() * 80) + 60;\nlet spo2 = Math.floor(Math.random() * 15) + 85;\nlet temperature = Number((Math.random() * 3 + 35).toFixed(1));\n\nmsg.payload = {\n    userId: \"ELD001\",\n    deviceId: \"SIM001\",\n    heartRate: heartRate,\n    spo2: spo2,\n    temperature: temperature,\n    timestamp: new Date().toISOString(),\n    systemVersion: \"v1.0\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 140,
        "wires": [
            [
                "b4007771f7285101"
            ]
        ]
    },
    {
        "id": "b4007771f7285101",
        "type": "function",
        "z": "6ac9e94bf2b7e02d",
        "name": "Validation Module",
        "func": "let hr = msg.payload.heartRate;\nlet spo2 = msg.payload.spo2;\nlet temp = msg.payload.temperature;\n\nlet valid = true;\nlet error = null;\n\n// Heart Rate range check\nif (hr < 40 || hr > 180) {\n    valid = false;\n    error = \"Heart Rate out of realistic range\";\n}\n\n// SpO2 range check\nif (spo2 < 70 || spo2 > 100) {\n    valid = false;\n    error = \"SpO2 out of realistic range\";\n}\n\n// Temperature range check\nif (temp < 34 || temp > 42) {\n    valid = false;\n    error = \"Temperature out of realistic range\";\n}\n\n// Append validation result\nmsg.payload.valid = valid;\nmsg.payload.error = error;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 220,
        "wires": [
            [
                "3dc5769301d026d1"
            ]
        ]
    },
    {
        "id": "3dc5769301d026d1",
        "type": "function",
        "z": "6ac9e94bf2b7e02d",
        "name": "Decision Engine Module",
        "func": "// Stop classification if data is invalid\nif (!msg.payload.valid) {\n    msg.payload.status = \"INVALID\";\n    msg.payload.riskLevel = 0;\n    return msg;\n}\n\nlet hr = msg.payload.heartRate;\nlet spo2 = msg.payload.spo2;\nlet temp = msg.payload.temperature;\n\nlet status = \"NORMAL\";\nlet riskLevel = 1;\n\nlet maxHR = flow.get(\"maxHR\") || 110;\nlet minSpO2 = flow.get(\"minSpO2\") || 90;\nlet maxTemp = flow.get(\"maxTemp\") || 38;\n\n// Emergency condition\nif (hr > maxHR || spo2 < minSpO2 || temp > maxTemp) {\n    status = \"EMERGENCY\";\n    riskLevel = 3;\n}\n\n// Warning condition\nelse if (\n    hr > 95 ||\n    spo2 < 94 ||\n    temp > 37.5\n) {\n    status = \"WARNING\";\n    riskLevel = 2;\n}\n\nmsg.payload.status = status;\nmsg.payload.riskLevel = riskLevel;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 280,
        "wires": [
            [
                "ac16a95c0191e0ec"
            ]
        ]
    },
    {
        "id": "b0dc473851a959ee",
        "type": "ui_gauge",
        "z": "6ac9e94bf2b7e02d",
        "name": "Heart Rate",
        "group": "8cabe600bcc5c077",
        "order": 1,
        "width": "4",
        "height": "3",
        "gtype": "gage",
        "title": "Heart Rate",
        "label": "bpm",
        "format": "{{value}}",
        "min": 0,
        "max": "150",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 600,
        "wires": []
    },
    {
        "id": "ac580ac6afe3e5e6",
        "type": "ui_gauge",
        "z": "6ac9e94bf2b7e02d",
        "name": "SpO2 Gauge",
        "group": "8cabe600bcc5c077",
        "order": 2,
        "width": "4",
        "height": "3",
        "gtype": "gage",
        "title": "SpO2",
        "label": "%",
        "format": "{{value}}",
        "min": "80",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 580,
        "wires": []
    },
    {
        "id": "959fed3ad7129ddf",
        "type": "ui_gauge",
        "z": "6ac9e94bf2b7e02d",
        "name": "Temperature Gauge",
        "group": "8cabe600bcc5c077",
        "order": 3,
        "width": "4",
        "height": "3",
        "gtype": "gage",
        "title": "Temperature",
        "label": "C",
        "format": "{{value}}",
        "min": "30",
        "max": "45",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 2140,
        "y": 260,
        "wires": []
    },
    {
        "id": "383383d24e1fa553",
        "type": "ui_text",
        "z": "6ac9e94bf2b7e02d",
        "group": "8cabe600bcc5c077",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "<div style=\"text-align:center; font-size:42px; font-weight:bold; color:{{msg.payload.color}}\"> {{msg.payload.status}} </div>",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1390,
        "y": 140,
        "wires": []
    },
    {
        "id": "7e852c3714138bd9",
        "type": "function",
        "z": "6ac9e94bf2b7e02d",
        "name": "HR Extract",
        "func": "msg.payload = msg.payload.heartRate;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 500,
        "wires": [
            [
                "b0dc473851a959ee"
            ]
        ]
    },
    {
        "id": "5a3242a67dba3d83",
        "type": "function",
        "z": "6ac9e94bf2b7e02d",
        "name": "SpO2 Extract",
        "func": "msg.payload = msg.payload.spo2;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 400,
        "wires": [
            [
                "ac580ac6afe3e5e6"
            ]
        ]
    },
    {
        "id": "7dad5643652834fc",
        "type": "function",
        "z": "6ac9e94bf2b7e02d",
        "name": "Temp extract",
        "func": "msg.payload = msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1710,
        "y": 320,
        "wires": [
            [
                "959fed3ad7129ddf"
            ]
        ]
    },
    {
        "id": "2392d9d421385bd9",
        "type": "function",
        "z": "6ac9e94bf2b7e02d",
        "name": "Monitoring and Metrics Module",
        "func": "// Get stored metrics from flow memory\nlet totalReadings = flow.get(\"totalReadings\") || 0;\nlet emergencyCount = flow.get(\"emergencyCount\") || 0;\nlet lastEmergencyTime = flow.get(\"lastEmergencyTime\") || null;\nlet history = flow.get(\"history\") || [];\n\n// Increase total readings count\ntotalReadings++;\n\n// Check if current reading is an emergency\nif (msg.payload.status === \"EMERGENCY\") {\n    emergencyCount++;\n    lastEmergencyTime = new Date().toISOString();\n}\n\n// Save current reading into history\nhistory.push({\n    heartRate: msg.payload.heartRate,\n    spo2: msg.payload.spo2,\n    temperature: msg.payload.temperature,\n    status: msg.payload.status,\n    time: new Date().toISOString()\n});\n\n// Keep only last 5 readings\nif (history.length > 5) {\n    history.shift();\n}\n\n// Save metrics back into flow memory\nflow.set(\"totalReadings\", totalReadings);\nflow.set(\"emergencyCount\", emergencyCount);\nflow.set(\"lastEmergencyTime\", lastEmergencyTime);\nflow.set(\"history\", history);\n\n// Attach metrics to message\nmsg.metrics = {\n    totalReadings: totalReadings,\n    emergencyCount: emergencyCount,\n    lastEmergencyTime: lastEmergencyTime,\n    history: history\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 360,
        "wires": [
            [
                "7e852c3714138bd9",
                "7dad5643652834fc",
                "4c76d9d7ef823d87",
                "7df617afe8ccf734",
                "5fdc94daedcf2b46",
                "0d60b5fee5a2743c",
                "3b91e949f12c4034",
                "44f78ca59e688346",
                "5a3242a67dba3d83",
                "fb27988cbb7ed9bf",
                "05a9e02a94544865"
            ]
        ]
    },
    {
        "id": "7df617afe8ccf734",
        "type": "debug",
        "z": "6ac9e94bf2b7e02d",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1700,
        "y": 200,
        "wires": []
    },
    {
        "id": "3b91e949f12c4034",
        "type": "function",
        "z": "6ac9e94bf2b7e02d",
        "name": "Status Formatter",
        "func": "let status = msg.payload.status;\n\nlet color = \"green\";\n\nif (status === \"WARNING\") {\n    color = \"orange\";\n}\nelse if (status === \"EMERGENCY\") {\n    color = \"red\";\n}\nelse if (status === \"INVALID\") {\n    color = \"gray\";\n}\n\nmsg.payload.color = color;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 200,
        "wires": [
            [
                "383383d24e1fa553"
            ]
        ]
    },
    {
        "id": "5fdc94daedcf2b46",
        "type": "function",
        "z": "6ac9e94bf2b7e02d",
        "name": "Emergency Alert Detector",
        "func": "if (msg.payload.status === \"EMERGENCY\") {\n\n    msg.payload.alert =\n        \"⚠️ EMERGENCY DETECTED\";\n\n    msg.payload.alertDetails =\n        \"HR: \" + msg.payload.heartRate +\n        \" | SpO2: \" + msg.payload.spo2 +\n        \" | Temp: \" + msg.payload.temperature;\n\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1690,
        "y": 420,
        "wires": [
            [
                "307a4f16a728493e"
            ]
        ]
    },
    {
        "id": "0d60b5fee5a2743c",
        "type": "function",
        "z": "6ac9e94bf2b7e02d",
        "name": "Daily Health Summary",
        "func": "let summary = flow.get(\"summary\") || {\n    warnings: 0,\n    emergencies: 0\n};\n\nif (msg.payload.status === \"WARNING\") {\n    summary.warnings++;\n}\n\nif (msg.payload.status === \"EMERGENCY\") {\n    summary.emergencies++;\n}\n\nflow.set(\"summary\", summary);\n\nmsg.summary = summary;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 500,
        "wires": [
            [
                "69bc5425c8ed6e19"
            ]
        ]
    },
    {
        "id": "69bc5425c8ed6e19",
        "type": "ui_text",
        "z": "6ac9e94bf2b7e02d",
        "group": "8cabe600bcc5c077",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "<div style=\"text-align:center; font-size:18px; font-weight:bold;\"> Warnings Today: {{msg.summary.warnings}}   <br> Emergencies Today: {{msg.summary.emergencies}} </div>",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1250,
        "y": 540,
        "wires": []
    },
    {
        "id": "307a4f16a728493e",
        "type": "ui_text",
        "z": "6ac9e94bf2b7e02d",
        "group": "8cabe600bcc5c077",
        "order": 5,
        "width": "12",
        "height": "1",
        "name": "",
        "label": "",
        "format": "<div style=\"     background-color: red;     color: white;     padding: 12px;     font-size: 20px;     font-weight: bold;     text-align: center;     border-radius: 8px; \"> {{msg.payload.alert}} </div>",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1930,
        "y": 360,
        "wires": []
    },
    {
        "id": "91646343fc428f03",
        "type": "inject",
        "z": "6ac9e94bf2b7e02d",
        "name": "Simulate High Heart Rate",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{  \"userId\": \"ELD001\",  \"deviceId\": \"SIM001\",  \"heartRate\": 130,  \"spo2\": 96,  \"temperature\": 36.8,  \"timestamp\": \"manual\",  \"systemVersion\": \"v1.0\" }",
        "payloadType": "json",
        "x": 270,
        "y": 200,
        "wires": [
            [
                "b4007771f7285101"
            ]
        ]
    },
    {
        "id": "2084b8f972d2b20a",
        "type": "inject",
        "z": "6ac9e94bf2b7e02d",
        "name": "Simulate Low Oxygen",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{  \"userId\": \"ELD001\",  \"deviceId\": \"SIM001\",  \"heartRate\": 88,  \"spo2\": 82,  \"temperature\": 36.7,  \"timestamp\": \"manual\",  \"systemVersion\": \"v1.0\" }",
        "payloadType": "json",
        "x": 220,
        "y": 320,
        "wires": [
            [
                "b4007771f7285101"
            ]
        ]
    },
    {
        "id": "b9f6934218a7e812",
        "type": "inject",
        "z": "6ac9e94bf2b7e02d",
        "name": "Simulate Fever",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{  \"userId\": \"ELD001\",  \"deviceId\": \"SIM001\",  \"heartRate\": 95,  \"spo2\": 95,  \"temperature\": 39,  \"timestamp\": \"manual\",  \"systemVersion\": \"v1.0\" }",
        "payloadType": "json",
        "x": 200,
        "y": 440,
        "wires": [
            [
                "b4007771f7285101"
            ]
        ]
    },
    {
        "id": "c7df023cab6250cd",
        "type": "ui_chart",
        "z": "6ac9e94bf2b7e02d",
        "name": "",
        "group": "8cabe600bcc5c077",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Live Heart Rate Monitor",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for heart rate data...",
        "dot": false,
        "ymin": "50",
        "ymax": "150",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1830,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "44f78ca59e688346",
        "type": "function",
        "z": "6ac9e94bf2b7e02d",
        "name": "Heart Rate for Chart",
        "func": "msg.payload = msg.payload.heartRate;\nmsg.topic = \"Heart Rate\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1640,
        "y": 540,
        "wires": [
            [
                "c7df023cab6250cd"
            ]
        ]
    },
    {
        "id": "ac16a95c0191e0ec",
        "type": "function",
        "z": "6ac9e94bf2b7e02d",
        "name": "Risk Score Module",
        "func": "let hr = msg.payload.heartRate;\nlet spo2 = msg.payload.spo2;\nlet temp = msg.payload.temperature;\n\nlet score = 0;\n\nif (hr > 110) score += 3;\nif (spo2 < 92) score += 4;\nif (temp > 38) score += 3;\n\nmsg.payload.riskScore = score;\n\n// Risk label\nif(score <= 3) msg.payload.riskLabel = \"NORMAL\";\nelse if(score <= 6) msg.payload.riskLabel = \"WARNING\";\nelse msg.payload.riskLabel = \"EMERGENCY\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 320,
        "wires": [
            [
                "2392d9d421385bd9"
            ]
        ]
    },
    {
        "id": "fb27988cbb7ed9bf",
        "type": "ui_text",
        "z": "6ac9e94bf2b7e02d",
        "group": "8cabe600bcc5c077",
        "order": 7,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "",
        "format": "<div style=\"font-size:24px;font-weight:bold;\"> Risk Score: {{msg.payload.riskScore}} / 10 <br> Status: {{msg.payload.riskLabel}} </div>",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1410,
        "y": 220,
        "wires": []
    },
    {
        "id": "05a9e02a94544865",
        "type": "function",
        "z": "6ac9e94bf2b7e02d",
        "name": "Health Insights Generator",
        "func": "let hr = msg.payload.heartRate;\nlet spo2 = msg.payload.spo2;\nlet temp = msg.payload.temperature;\n\nlet insights = [];\n\n// 🔴 Critical conditions\nif (spo2 < 90) {\n    insights.push(\"⚠ Low Oxygen Level → Check breathing immediately\");\n}\n\nif (hr > 110) {\n    insights.push(\"⚠ High Heart Rate → Ask patient to rest\");\n}\n\nif (temp > 38) {\n    insights.push(\"⚠ Fever Detected → Monitor temperature\");\n}\n\n// 🟡 Mild conditions\nif (hr >= 95 && hr <= 110) {\n    insights.push(\"⚠ Slightly Elevated HR → Possible stress/fatigue\");\n}\n\nif (spo2 >= 90 && spo2 < 94) {\n    insights.push(\"⚠ Oxygen slightly low → Monitor closely\");\n}\n\n// 🟢 Normal\nif (insights.length === 0) {\n    insights.push(\"✅ Patient Stable\");\n}\n\nmsg.payload.insights = insights.join(\"<br><br>\");\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1690,
        "y": 100,
        "wires": [
            [
                "2706f8c61fb5c170"
            ]
        ]
    },
    {
        "id": "2706f8c61fb5c170",
        "type": "ui_text",
        "z": "6ac9e94bf2b7e02d",
        "group": "8cabe600bcc5c077",
        "order": 8,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "",
        "format": "<div style=\"font-size:16px; text-align:left;\"> {{msg.payload.insights}} </div>",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1950,
        "y": 80,
        "wires": []
    },
    {
        "id": "8cabe600bcc5c077",
        "type": "ui_group",
        "name": "Patient Vitals",
        "tab": "103834fee89ca7cf",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "103834fee89ca7cf",
        "type": "ui_tab",
        "name": "Health Monitor",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "072f97644d264cc4",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]