docs/flows/phase1-dashboard.json
[
    {
        "id": "94c07a1968faae61",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b8502c893818ba36",
        "type": "ui_tab",
        "name": "ElderEase Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e5b7e2d9ec19bf42",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "5cb1f7f01b774bdd",
        "type": "ui_group",
        "name": "Live Vitals",
        "tab": "b8502c893818ba36",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "65971e14ac52e323",
        "type": "inject",
        "z": "94c07a1968faae61",
        "name": "Auto Vital Trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "timestamp",
        "payloadType": "str",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "08c32c9d3e21506f"
            ]
        ]
    },
    {
        "id": "28597e10795590a6",
        "type": "debug",
        "z": "94c07a1968faae61",
        "name": "Simulation Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 360,
        "wires": []
    },
    {
        "id": "08c32c9d3e21506f",
        "type": "function",
        "z": "94c07a1968faae61",
        "name": "Vital Simulation Module",
        "func": "let heartRate = Math.floor(Math.random() * 80) + 60;\nlet spo2 = Math.floor(Math.random() * 15) + 85;\nlet temperature = Number((Math.random() * 3 + 35).toFixed(1));\n\nmsg.payload = {\n    userId: \"ELD001\",\n    deviceId: \"SIM001\",\n    heartRate: heartRate,\n    spo2: spo2,\n    temperature: temperature,\n    timestamp: new Date().toISOString(),\n    systemVersion: \"v1.0\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 260,
        "wires": [
            [
                "28597e10795590a6",
                "6d1611344836a97a"
            ]
        ]
    },
    {
        "id": "40c48545d4dde664",
        "type": "ui_gauge",
        "z": "94c07a1968faae61",
        "name": "Live Vitals",
        "group": "5cb1f7f01b774bdd",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Heart Rate",
        "label": "bpm",
        "format": "{{value}}",
        "min": 0,
        "max": "150",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 560,
        "wires": []
    },
    {
        "id": "6d1611344836a97a",
        "type": "function",
        "z": "94c07a1968faae61",
        "name": "Extract Heart Rate",
        "func": "msg.payload = msg.payload.heartRate;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 420,
        "wires": [
            [
                "40c48545d4dde664"
            ]
        ]
    },
    {
        "id": "8f077e253daffade",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]