docs/flows/phase1-flow.json
[
    {
        "id": "dab6a5f4eac75b74",
        "type": "tab",
        "label": "IoT Simulator",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3473b7c93bc8a2db",
        "type": "function",
        "z": "dab6a5f4eac75b74",
        "name": "Vital Simulator",
        "func": "// store previous values (persistent)\nlet prev = context.get(\"prevVitals\") || {\n    heartRate: 80,\n    spo2: 96,\n    temperature: 36.8\n};\n\n// helper to slightly change value\nfunction vary(value, minChange, maxChange) {\n    let change = (Math.random() * (maxChange - minChange)) + minChange;\n    return value + change;\n}\n\n// ✅ gradual realistic change\nlet heartRate = Math.round(vary(prev.heartRate, -3, 3));\nlet spo2 = Math.round(vary(prev.spo2, -1, 1));\nlet temperature = parseFloat(vary(prev.temperature, -0.2, 0.2).toFixed(1));\n\n// 🔥 DANGER MODE (progressive deterioration)\nlet dangerMode = context.get(\"dangerMode\") || false;\n\nif (Math.random() < 0.05) {\n    dangerMode = true;\n}\n\nif (dangerMode) {\n    spo2 = Math.max(spo2 - 2, 80);\n    heartRate = Math.min(heartRate + 5, 140);\n}\n\n// clamp realistic limits\nheartRate = Math.min(Math.max(heartRate, 60), 130);\nspo2 = Math.min(Math.max(spo2, 85), 100);\ntemperature = Math.min(Math.max(temperature, 35.5), 39);\n\n// 🔥 occasional anomaly (controlled spikes)\nif (Math.random() < 0.1) {\n    spo2 = Math.max(spo2 - 5, 80);\n}\nif (Math.random() < 0.08) {\n    heartRate = Math.min(heartRate + 20, 140);\n}\nif (Math.random() < 0.05) {\n    temperature = Math.min(temperature + 1.5, 40);\n}\n\n// save state\ncontext.set(\"prevVitals\", { heartRate, spo2, temperature });\ncontext.set(\"dangerMode\", dangerMode);\n\n// output\nmsg.payload = {\n    patientId: \"ELD001\",\n    deviceId: \"SIM001\",\n    heartRate,\n    spo2,\n    temperature,\n    timestamp: new Date().toISOString()\n};\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 180,
        "wires": [
            [
                "70676c68177981d3"
            ]
        ]
    },
    {
        "id": "492328432703efcb",
        "type": "inject",
        "z": "dab6a5f4eac75b74",
        "name": "Inject Node",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 410,
        "y": 60,
        "wires": [
            [
                "3473b7c93bc8a2db"
            ]
        ]
    },
    {
        "id": "70676c68177981d3",
        "type": "http request",
        "z": "dab6a5f4eac75b74",
        "name": "HTTP Request Payload",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:5000/api/vitals",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 790,
        "y": 280,
        "wires": [
            []
        ]
    }
]